[include]
	path = ~/.gitconfig.local
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = master
[core]
	excludesfile = /Users/rob/.gitignore_global
